

@font-face {
    font-family: 'boxfont';
    src: url('../fonts/boxfont_round-webfont.woff2') format('woff2'),
         url('../fonts/boxfont_round-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}