@import url("./fonts.css");
@import url("./grid-borders.css");
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    font-family: "boxfont", sans-serif;
    font-size: 2.7rem;
    display: flex;
    justify-content: center; 
     
}
*{
    cursor: pointer;
    user-select: none;
}

.x, .o, .player-one, .player-two{
    cursor: pointer;
    user-select: none;
    
}


.choose-players, .choose-sign {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.choose-sign{
    margin-top: 100px;
    gap: 200px;
    font-size: 5rem;
}

.start{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.start:hover, .play-again-button:hover{
    cursor: pointer;
    user-select: none;
    text-shadow: 0px 0px 13px rgb(221, 2, 2);
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    padding-top: 30px;
}

.player-name-1, .player-name-2{
    position: absolute;
    top: 20px;
}

.player-score-1, .player-score-2{
    position: absolute;
    top: 100px;
}

.player-name-1{
    left: 20px;
}

.player-name-2{
    right: 20px;
}

.player-score-1{
    left: 60px;
}
.player-score-2{
    right: 60px;
}

.plays-first-1, .plays-first-2{
    position: absolute;
    top: 200px;
}
.plays-first-1{
    left: 20px;
}

.plays-first-2{
    right: 20px;
}

.sign-1, .sign-2{
    position: absolute;
    top: 300px;
    font-size: 5rem;
}

.sign-1{
    left: 100px;
}

.sign-2{
    right: 100px;
}


.grid>*:hover{
    background-color: rgb(45, 45, 45);
    opacity: 1;
}

.grid>*{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    
}



